umc-section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    --background-color--default: #fff;
    background-color: var(--background-color, var(--background-color--default));
    width: 100%
}

umc-section.content-section {
    margin-top: 56px
}

.closed umc-section {
    display: none;
    overflow: hidden
}
    
  
    umc-menu-section {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      width: 100%
    }

    umc-menu-section.umc-section--sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0
    }
  
    umc-column-section {
      --background-color--default: $white;
      --padding-vertical--default: 20px;
      --padding-horizontal--default: 0px;
      --border-color--default: transparent;
      padding: var(--padding-vertical, var(--padding-vertical--default)) var(--padding-horizontal, var(--padding-horizontal--default));
      background-color: var(--background-color, var(--background-color--default));
      border-bottom: 1px solid var(--border-color, var(--border-color--default));
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 327px
    }

    @media (min-width:375px) {
      umc-column-section {
        width: 100%
      }
    }

    @media (min-width:768px) {
      umc-column-section {
        -ms-flex-direction: row;
        flex-direction: row;
        width: 656px
      }
    }

    @media (min-width:1024px) {
      umc-column-section {
        width: 912px
      }
    }

    @media (min-width:1440px) {
      umc-column-section {
        width: 1328px
      }
    }

    umc-column-section.justify-columns {
      -ms-flex-pack: justify;
      justify-content: space-between
    }
  
    umc-content-section {
      --margin-bottom--default: 56px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 327px
    }

    @media (min-width:375px) {
      umc-content-section {
        width: 100%
      }
    }

    @media (min-width:768px) {
      umc-content-section {
        -ms-flex-direction: row;
        flex-direction: row;
        width: 656px
      }
    }

    @media (min-width:1024px) {
      umc-content-section {
        width: 912px
      }
    }

    @media (min-width:1440px) {
      umc-content-section {
        width: 1328px
      }
    }

    umc-content-section.justify-columns {
      -ms-flex-pack: justify;
      justify-content: space-between
    }
  
    umc-column {
      --background-color--default: $white;
      --border-color--default: $white;
      --text-color--default: $black;
      --font-size--default: $black;
      color: red;
      background-color: var(--background-color, var(--background-color--default));
      color: var(--text-color, var(--text-color--default));
      border: 1px dotted rgba(0, 0, 0, .3);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%
    }

    @media (min-width:768px) {
      umc-column {
        width: 33px;
        margin-right: 56px
      }
    }

    @media (min-width:1024px) {
      umc-column {
        width: 65px;
        margin-right: 56px
      }
    }

    @media (min-width:1440px) {
      umc-column {
        width: 59px;
        margin-right: 56px
      }
    }

    umc-column.direction--horizontal {
      -ms-flex-direction: row;
      flex-direction: row
    }

    umc-column:last-child {
      margin-right: 0
    }

    @media (min-width:375px) {
      umc-column.empty {
        visibility: hidden
      }
    }

    umc-column.width--full {
      width: 100%
    }

    @media (min-width:768px) {
      umc-column.width--small {
        width: 122px
      }
    }

    @media (min-width:1024px) {
      umc-column.width--small {
        width: 186px
      }
    }

    @media (min-width:1440px) {
      umc-column.width--small {
        width: 289px
      }
    }

    @media (min-width:768px) {
      umc-column.width--medium {
        width: 211px
      }
    }

    @media (min-width:1024px) {
      umc-column.width--medium {
        width: 307px
      }
    }

    @media (min-width:1440px) {
      umc-column.width--medium {
        width: 404px
      }
    }

    @media (min-width:768px) {
      umc-column.width--large {
        width: 300px
      }
    }

    @media (min-width:1024px) {
      umc-column.width--large {
        width: 428px
      }
    }

    @media (min-width:1440px) {
      umc-column.width--large {
        width: 519px
      }
    }

    @media (min-width:768px) {
      umc-column.width--x-large {
        width: 300px
      }
    }

    @media (min-width:1024px) {
      umc-column.width--x-large {
        width: 428px
      }
    }

    @media (min-width:1440px) {
      umc-column.width--x-large {
        width: 634px
      }
    }

    @media (min-width:768px) {
      umc-column.width--xx-large {
        width: 389px
      }
    }

    @media (min-width:1024px) {
      umc-column.width--xx-large {
        width: 519px
      }
    }

    @media (min-width:1440px) {
      umc-column.width--xx-large {
        width: 749px
      }
    }

    @media (min-width:768px) {
      umc-column.width--xxx-large {
        width: 478px
      }
    }

    @media (min-width:1024px) {
      umc-column.width--xxx-large {
        width: 634px
      }
    }

    @media (min-width:1440px) {
      umc-column.width--xxx-large {
        width: 864px
      }
    }

    umc-column.gutterless {
      margin-right: 0
    }

    umc-column.align--center {
      -ms-flex-pack: center;
      justify-content: center
    }

    umc-column.align--right {
      -ms-flex-pack: end;
      justify-content: flex-end
    }
  
    umc-content-block {
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.75rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%
    }

    @media (min-width:768px) {
      umc-content-block {
        width: 33px;
        margin-right: 56px
      }
    }

    @media (min-width:1024px) {
      umc-content-block {
        width: 65px;
        margin-right: 56px
      }
    }

    @media (min-width:1440px) {
      umc-content-block {
        width: 59px;
        margin-right: 56px
      }
    }

    umc-content-block.direction--horizontal {
      -ms-flex-direction: row;
      flex-direction: row
    }

    umc-content-block:last-child {
      margin-right: 0
    }

    @media (min-width:375px) {
      umc-content-block.empty {
        visibility: hidden
      }
    }

    umc-content-block.width--full {
      width: 100%
    }

    @media (min-width:768px) {
      umc-content-block.width--small {
        width: 122px
      }
    }

    @media (min-width:1024px) {
      umc-content-block.width--small {
        width: 186px
      }
    }

    @media (min-width:1440px) {
      umc-content-block.width--small {
        width: 289px
      }
    }

    @media (min-width:768px) {
      umc-content-block.width--medium {
        width: 211px
      }
    }

    @media (min-width:1024px) {
      umc-content-block.width--medium {
        width: 307px
      }
    }

    @media (min-width:1440px) {
      umc-content-block.width--medium {
        width: 404px
      }
    }

    @media (min-width:768px) {
      umc-content-block.width--large {
        width: 300px
      }
    }

    @media (min-width:1024px) {
      umc-content-block.width--large {
        width: 428px
      }
    }

    @media (min-width:1440px) {
      umc-content-block.width--large {
        width: 519px
      }
    }

    @media (min-width:768px) {
      umc-content-block.width--x-large {
        width: 300px
      }
    }

    @media (min-width:1024px) {
      umc-content-block.width--x-large {
        width: 428px
      }
    }

    @media (min-width:1440px) {
      umc-content-block.width--x-large {
        width: 634px
      }
    }

    @media (min-width:768px) {
      umc-content-block.width--xx-large {
        width: 389px
      }
    }

    @media (min-width:1024px) {
      umc-content-block.width--xx-large {
        width: 519px
      }
    }

    @media (min-width:1440px) {
      umc-content-block.width--xx-large {
        width: 749px
      }
    }

    @media (min-width:768px) {
      umc-content-block.width--xxx-large {
        width: 478px
      }
    }

    @media (min-width:1024px) {
      umc-content-block.width--xxx-large {
        width: 634px
      }
    }

    @media (min-width:1440px) {
      umc-content-block.width--xxx-large {
        width: 864px
      }
    }

    umc-content-block.gutterless {
      margin-right: 0
    }

    umc-content-block.align--center {
      -ms-flex-pack: center;
      justify-content: center
    }

    umc-content-block.align--right {
      -ms-flex-pack: end;
      justify-content: flex-end
    }
  
    umc-sidebar {
      --background-color--default: #f0f5f5;
      --padding-vertical--default: 24px;
      --padding-horizontal--default: 24px;
      --border-color--default: transparent;
      padding: var(--padding-vertical, var(--padding-vertical--default)) var(--padding-horizontal, var(--padding-horizontal--default));
      background-color: var(--background-color, var(--background-color--default));
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%
    }

    @media (min-width:768px) {
      umc-sidebar {
        width: 33px;
        margin-right: 56px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar {
        width: 65px;
        margin-right: 56px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar {
        width: 59px;
        margin-right: 56px
      }
    }

    umc-sidebar.direction--horizontal {
      -ms-flex-direction: row;
      flex-direction: row
    }

    umc-sidebar:last-child {
      margin-right: 0
    }

    @media (min-width:375px) {
      umc-sidebar.empty {
        visibility: hidden
      }
    }

    umc-sidebar.width--full {
      width: 100%
    }

    @media (min-width:768px) {
      umc-sidebar.width--small {
        width: 122px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar.width--small {
        width: 186px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar.width--small {
        width: 289px
      }
    }

    @media (min-width:768px) {
      umc-sidebar.width--medium {
        width: 211px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar.width--medium {
        width: 307px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar.width--medium {
        width: 404px
      }
    }

    @media (min-width:768px) {
      umc-sidebar.width--large {
        width: 300px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar.width--large {
        width: 428px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar.width--large {
        width: 519px
      }
    }

    @media (min-width:768px) {
      umc-sidebar.width--x-large {
        width: 300px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar.width--x-large {
        width: 428px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar.width--x-large {
        width: 634px
      }
    }

    @media (min-width:768px) {
      umc-sidebar.width--xx-large {
        width: 389px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar.width--xx-large {
        width: 519px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar.width--xx-large {
        width: 749px
      }
    }

    @media (min-width:768px) {
      umc-sidebar.width--xxx-large {
        width: 478px
      }
    }

    @media (min-width:1024px) {
      umc-sidebar.width--xxx-large {
        width: 634px
      }
    }

    @media (min-width:1440px) {
      umc-sidebar.width--xxx-large {
        width: 864px
      }
    }

    umc-sidebar.gutterless {
      margin-right: 0
    }

    umc-sidebar.align--center {
      -ms-flex-pack: center;
      justify-content: center
    }

    umc-sidebar.align--right {
      -ms-flex-pack: end;
      justify-content: flex-end
    }
  
    umc-list {
      --text-color--default: $black;
      --text-size--default: 14px;
      --margin-bottom--default: 0;
      margin-bottom: var(--margin-bottom, var(--margin-bottom--default))
    }

    umc-list h3 {
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 500;
      font-size: 18px;
      margin: 0;
      line-height: 1.5rem;
      color: #131516
    }
  
    umc-menu-toggle {
      display: inline
    }

    umc-menu-toggle h3 {
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      color: #00778a;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin: 0
    }

    umc-menu-toggle .icon--before {
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse
    }

    umc-menu-toggle .label {
      display: none
    }

    @media (min-width:768px) {
      umc-menu-toggle .label {
        display: inline;
        margin: 0 8px
      }
    }

    umc-menu-toggle .icon {
      height: 24px
    }

    umc-menu-toggle .icon--before .icon {
      margin-left: 0
    }
  
    umc-logo {
      display: block
    }

    umc-logo img {
      width: 200px
    }

    @media (min-width:768px) {
      umc-logo img {
        width: 260px
      }
    }
  
    umc-title-block {
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 300;
      font-size: 3rem;
      margin: 0;
      line-height: 3.5rem;
      color: #131516
    }

    umc-title-block.large {
      font-size: 3rem
    }

    umc-title-block.regular {
      font-size: 2rem
    }
  
    umc-rich-text-block {
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.75rem
    }
  
    /*!@:host*/
    .sc-umc-link-list-h {
      --text-color--default: $black;
      --text-size--default: 14px;
      --margin-bottom--default: 24px;
      margin-bottom: var(--margin-bottom, var(--margin-bottom--default));
      display: block
    }

    /*!@:host h3*/
    .sc-umc-link-list-h h3.sc-umc-link-list {
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 500;
      font-size: 18px;
      margin: 0;
      line-height: 1.5rem;
      color: #131516
    }

    /*!@:host ul*/
    .sc-umc-link-list-h ul.sc-umc-link-list {
      list-style-type: none;
      padding: 0;
      margin: 0
    }

    @media (min-width:768px) {

      /*!@:host .horizontal li*/
      .sc-umc-link-list-h .horizontal.sc-umc-link-list li.sc-umc-link-list {
        display: inline
      }
    }

    /*!@:host .always-horizontal li*/
    .sc-umc-link-list-h .always-horizontal.sc-umc-link-list li.sc-umc-link-list {
      display: inline
    }

    /*!@:host li*/
    .sc-umc-link-list-h li.sc-umc-link-list {
      margin-right: 24px;
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 300;
      font-size: var(--text-size, var(--text-size--default));
      color: var(--text-color, var(--text-color--default));
      line-height: 1.5rem
    }

    /*!@:host li.active*/
    .sc-umc-link-list-h li.active.sc-umc-link-list {
      font-weight: 500
    }

    /*!@:host .icon*/
    .sc-umc-link-list-h .icon.sc-umc-link-list {
      fill: #fff
    }

    umc-list-item {
      display: list-item;
      list-style-type: none;
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 300;
      font-size: var(--text-size, var(--text-size--default));
      line-height: 1.5rem
    }

    umc-list-item,
    umc-list-item a {
      color: var(--text-color, var(--text-color--default))
    }

    umc-list-item a {
      text-decoration: none
    }

    umc-list-item a:hover {
      text-decoration: underline
    }

    @media (min-width:768px) {

      .umc-list_horizontal--always umc-list-item,
      .umc-list_horizontal umc-list-item {
        display: inline;
        margin-right: 24px
      }
    }

    .umc-list_horizontal--always umc-list-item:last-child,
    .umc-list_horizontal umc-list-item:last-child {
      margin-right: 0
    }

    .font-style--big umc-list-item {
      font-size: 1.375rem;
      line-height: 3.5rem;
      font-weight: 500;
      border-bottom: 1px solid #00778a
    }

    .font-style--big umc-list-item:last-child {
      border-bottom-width: 0
    }

    .font-style--regular umc-list-item {
      font-size: 1.125rem;
      line-height: 2.5rem
    }
  
    umc-list-header {
      display: block;
      font-family: Museo Sans Rounded, sans-serif;
      font-weight: 500;
      font-size: 1.375rem;
      line-height: 3.5rem
    }
  
    umc-icon {
      display: inline
    }

    umc-icon svg {
      width: 18px;
      height: 18px
    }

    umc-icon.diapositive svg {
      fill: #fff
    }

    @font-face {
      font-family: 'Museo Sans Rounded';
      src: url("assets/museosansrounded-300.woff") format("woff");
      font-weight: 300;
      font-style: normal;
      font-display: fallback;
    }

    @font-face {
      font-family: 'Museo Sans Rounded';
      src: url("assets/museosansrounded-500.woff") format("woff");
      font-weight: 500;
      font-style: normal;
      font-display: fallback;
    }

    body {
      padding: 0;
      margin: 0;
    }

    umc-dev-statusbar {
      position: fixed;
    }

    umc-section.locations-header {
      --background-color: white;
    }

    umc-column-section.location-switch {
      --text-color: #005261;
      --border-color: #ced9e5;
      --margin-bottom: 0;
      --padding-vertical: 8px;
    }



    @media only screen and (min-width: 768px) {
      umc-header-section.main-navigation {
        --padding-horizontal: 0;
      }
    }

    umc-sidebar.content-sidebar {
      --padding-horizontal: 56px;
      --padding-vertical: 56px;
    }

    umc-sidebar.content-sidebar umc-link-list {
      color: #00778a;
    }

    umc-section.footer-links umc-column-section {
      --text-color: white;
      --text-size: 16px;
      --padding-vertical: 44px;
    }

    @media only screen and (min-width: 768px) {
      umc-section.footer-links umc-column-section {
        --text-size: 16px;
      }
    }

    umc-section.footer-links {
      --background-color: #003741;
    }

    umc-section.footer-colofon umc-column-section {
      --text-color: white;
      --text-size: 14px;
      --padding-vertical: 44px;
    }

    umc-section.footer-colofon {
      --background-color: #00778a;
    }

    umc-column-section.debug {
      box-sizing: border-box;
      --background-color: #fafafa;
      margin-bottom: 8px;
    }

    umc-column.submenu__main {
      font-size: 22px;
    }


    umc-section.navigation-menu {
      background-color: #009cb4;
      /* background-attachment: fixed; */
    }

    umc-section.navigation-menu umc-column-section {
      --text-color: white;
    }

    umc-column-section.debug umc-column {
      --background-color: #009cb4;
      --border-color: blue;
      --text-color: white;
    }

    .logo {
      width: 200px;
      width: 260px;
    }

    .umc-column-section ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    @media only screen and (min-width: 768px) {
      umc-header-section .column--right {
        order: -1;
      }
    }