@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background: #58c7ff; */
    background: #333;
    color: white;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h5 {
    margin: 0px;
}

h1 {
    font-weight: 500;
    font-size: 2.6rem;
    margin-bottom: 32px;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}

header h2 {
    text-align: right;
    color: #666;
}

h3 {
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 32px;
}

h4 {
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #666;
}

h5 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 4px;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

input,
select,
button {
    box-sizing: border-box;
    border-width: 0;
    /* background-color: rgba(38, 169, 234, .5); */
    background-color: #565656;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    padding: 16px;
    border: 1px dotted #999;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin-bottom: 32px;
}

button {
    font-weight: 500;
    font-size: 1.6rem;
    background-color: #3C99DC;
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
}

button:hover {
    cursor: pointer;
}

input {
    font-size: 1.6rem;
}

select {
    height: 32px;
    font-size: 1rem;
}

 ::placeholder {
    color: #999;
}

header {
    margin-bottom: 32px;
}

.select--small {
    width: 64px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    font-size: 1.2rem;
    line-height: 2rem;
}

header {
    background-color: white;
    color: black;
    padding: 16px;
    display: flex;
    margin: 0;
    align-items: flex-end;
}

header ul {
    margin: 0;
}

header p {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 300;
}

header div {
    width: 50%;
}

header h4 {
    font-size: 1.2rem;
}

section {
    padding: 32px;
}

.status-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
    /* background-color: #444; */
    border-radius: 8px;
    padding: 16px;
}

.status-dashboard--centered {
    justify-content: space-around;
    margin-bottom: 8px;
}

.status-header {
    text-align: center;
    font-size: 1.6rem;
}

.dashboard-icon {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
}

.dashboard-icon__count {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1em;
}

.dashboard-icon__text {
    font-weight: 300;
    font-size: 1.4rem;
}

.dashboard-icon__count--big {
    position: relative;
    height: 256px;
    width: 256px;
    text-align: center;
    font-size: 5rem;
    line-height: 240px;
    background-color: #333;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #666;
    margin-bottom: 32px;
}

.dashboard-icon__count {
    position: relative;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #333;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #666;
}

.dashboard-icon__count--big .icon__count__background {
    height: 30%;
}

.icon__count__background {
    position: absolute;
    height: 70%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.2;
}

.button--round {
    font-size: 6rem;
    font-weight: 500;
    height: 128px;
    width: 128px;
    text-align: center;
    line-height: 128px;
    background-color: #333;
    border-radius: 50%;
}

.button--minus {
    background-color: #66cc00;
    line-height: 110px;
}

.button--plus {
    background: #3C99DC;
}

.codes-list {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.codes-list__column {
    text-align: center;
}

.codes-list__column li {
    font-size: 1.6rem;
    line-height: 1.8em;
    letter-spacing: .1em;
}

.logo--small {
    width: 64px;
    height: 64px;
}